data/*.csv
data/**/*.bin
data/**/*.xml
data/**
log/
cmake-build-debug/
cmake-build-debug_prime/
cmake-build-*/
cmake*/
build/**
build/*
build
data/hnswindex.bin
.idea/
.vscode/
.vs/
**.DS_Store
*.pyc
**/*.fvecs
**/*.bvecs
**/*.ivecs
venv/**
external/DiskANN/**
output/**/*.bin
